html.dark {
  --main-color: #00eeff;
  --title: #eff3f5;
  --content: #c8cdd0;
  --light: #a0a7ac;
  --border-color: #2a3b47;
  --container: #212e36;
  --header: #23232e;
  --body: #192229;
  --white: #f0f0f0;
  scroll-behavior: smooth;
}
html {
  --main-color: #ffe313;
  --title: #2a3b47;
  --content: #697477;
  --light: #a0a7ac;
  --border-color: #eff3f5;
  --container: #ffffff;
  --body: #fbfbfe;
  --header: #23232e;
  --white: #f0f0f0;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 1px;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: var(--body);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.body {
  width: 100%;
  max-width: 1400px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;
}
.body .main .home {
  text-align: center;
}
.main #section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.main #section1 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.main #section1 .container .title {
  color: #ff0000;
}
.main #section1 .c {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #000;
}
.main #section1 .c .text {
  font-weight: bold;
  font-size: 12px;
  color: #111;
}
.main #section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.main #section2 .watch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#section2 .watch div {
  font-size: 30px;
  font-weight: bold;
}
#section2 .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
#section2 .buttons button {
  padding: 5px;
  cursor: pointer;
}
/* ----- SECTION 3 MENU HAMBURGUESA ----- */

#section3, #menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#menu{
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #222;
  transform: translate(100%);
  transition: transform 0.4s;
}
#menu.is-active{
  transform: translate(0);
}
#menu .menu-item{
  text-decoration: none;
  color: #000;
  padding:3px;
  border-bottom: 2px solid #222;
}
#menu .menu-item:hover{
  color: blue;
  border-color: blue;
}
#btn-menu{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  padding: 10px;
}
/* section 4 reloj y alarma */
#section4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
#section4 .reloj.activo {
  border:2px solid #222;
  padding: 10px;
}
#section4 .alarma{
  display: block;
  transform: translate(1000%);
  transition: transform 0.4s;
}
#section4 .alarma.activo{
  transform: translate(0);
}
