html.dark {
  --main-color: #00eeff;
  --title: #eff3f5;
  --content: #c8cdd0;
  --light: #a0a7ac;
  --border-color: #2a3b47;
  --container: #212e36;
  --header: #23232e;
  --body: #192229;
  --white: #f0f0f0;
  scroll-behavior: smooth;
}
html {
  --main-color: #ffe313;
  --title: #2a3b47;
  --content: #697477;
  --light: #a0a7ac;
  --border-color: #eff3f5;
  --container: #ffffff;
  --body: #fbfbfe;
  --header: #23232e;
  --white: #f0f0f0;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 1px;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: var(--body);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.body{
  width: 100%;
  max-width: 1400px;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.body .main .home {
  text-align: center;
}
.main #section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.main #section1 .container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 5px solid #000;
  padding: 20px;
}
.main #section1 .c{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #ff0000;
}
.main #section1 .c .text{
  font-weight: normal;
  font-size: 12px;
  font-style: oblique;
  color: #000;
}